@import './reset.css';
/* = = = = = = = = = = = = = = = = = = */
/* WRAPPER & CONTAINERS                */
/* = = = = = = = = = = = = = = = = = = */
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.shapes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    width: 600px;
    height: 800px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
}

/* = = = = = = = = = = = = = = = = = = */
/* SHAPES                              */
/* = = = = = = = = = = = = = = = = = = */
.shapes-container div {
    cursor: pointer;
}


